{% extends "header.html" %}


{% block body %}
<body>
        <div class="container-fluid">
              </div>
              <div class="mt-5 container-fluid">
                <!-- Form login -->
                <form>
                    
                        <div class="md-form">
                            <label for="defaultForm-email">ID-Number</label>
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="text" id="defaultForm-email" class="form-control">
                        </div>
                    
                        <div class="md-form">
                            <label for="defaultForm-pass">Password</label>
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control">
                        </div>
                        <div class = "mt-5 container">
                        <div class="text-center">
                            <button class="btn btn-default">Login</button> 
                        </div>
                        </div>
                    </form>
                </div>
</body>
{% endblock body %}