{% extends "header.html" %}
{% block head_title %} Register - {{ block.super }} {% endblock head_title %}
    {% block body %}
    <body>
    <h1> Create an Account</h1>
    {{ errors }}
    <form method='POST'> {% csrf_token %}
        {{ form.as_p }}
        <button type = 'submit'>Register</button>
    </form>
    </body>
    {% endblock body %}



           <!-- <input type = 'text' name ='id_number' placeholder="id_number">
        <input type = 'text' name ='fname' placeholder="First Name">
        <input type = 'text' name ='lname' placeholder="Last Name">
        <input type = 'password' name ='password' placeholder="password"> -->